
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');


// @font-face {
// 	font-family: 'bernier';
// 	src: url('../fonts/bernierregular-regular-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

//Fonts mix
// @mixin main() {
//	 font-family: 'Open Sans', sans-serif;
// }